<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

  <!--
  Updated package V2 - time - 13:49 12/04/13 
  -->
<configuration>
  <!-- LightStreamer AMQ paravbcvbcvms . ..-->
  <!--
  <defaultURI value="activemq:tcp://${activemqhost}:61616?connection.AsyncClose=false">
    <userName value="system"/>
    <passWord value="manager"/>
  </defaultURI>

  <maxInactivityDurationURI value="activemq:tcp://${activemqhost}:61616?wireFormat.MaxInactivityDurationInitialDelay=5000&amp;wireFormat.MaxInactivityDuration=10000&amp;connection.AsyncClose=false"/>

  <openWireURI value="activemq:tcp://${activemqhost}:61616?connection.AsyncClose=false">
    <factoryParams>
      <param type="string" value="OpenWireTestClient"/>
    </factoryParams>
    <userName value="guest"/>
    <passWord value="guest"/>
  </openWireURI>
  -->
  <!-- END LightStreamer  AMQ params-->
  <!--<system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener"
             type="System.Web.WebPageTraceListener, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </listeners>
    </trace>
  </system.diagnostics>-->
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
 
    <!--new - EA account 5.5 LIVE - http://www.liveplayfootball.com/ -->
    <add name="mysql" connectionString="" />   
    <add name="ReadReplica" connectionString="" />
    <add name="Logging" connectionString="" />
    
     
  </connectionStrings>
  <appSettings>
    <add key="App" value="LIVE" />
    
    <add key="FacebookProfilePicURL" value="https://graph.facebook.com/" />
    
    <!--live king of the kop-->
    <!--<add key="FacebookSecret" value="" /> 
    <add key="FacebookAppid" value="" />-->    
    <!--live king of the kop-->
    
    <add key="AWSAccessKey" value=""/>
    <add key="AWSSecretKey" value="+PGcvaG3uf9xcNA"/>

    <add key="LiveEventMethod" value="T5P" />     <!--T5P = T5Pusher,SR = SignalR,LS = LightStream-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="redisserver" value="" />
    <add key="redisport" value="6379" />
    <add key="redispassword" value="" />
    <add key="T5PusherAppKey" value="" />
    <add key="T5PusherAppSecret" value="" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>

    <!--<trace enabled="true" localOnly="false" mostRecent="true" pageOutput="false" />-->
    <!--removed the below stephen 16July
    1 - we no longer need session as we are deducing the facebook session on hte client side
        and the admin no longer uses the validation 
    2 - also i want to stress this more before i go to production with it - does hitting a page 10 times with a stress toll create ten sessions???-->
    
    <!--<sessionState
      timeout="180"
      mode="Custom"
      customProvider="DynamoDBSessionStoreProvider">
      <providers>
        <add name="DynamoDBSessionStoreProvider"
                    type="Amazon.SessionProvider.DynamoDBSessionStateStore"
                    Application="livegamesdev"
                    Table="ASP.NET_SessionStateLiveGames"
                    Region="eu-west-1"
               />
      </providers>
    </sessionState>-->
    
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" />
    <!--http://stackoverflow.com/questions/8159321/request-exceeds-the-configured-maxquerystringlength-when-using-authorize-->
    <!--we were receiving an signalr related errro about the length of the QueryString-->
    <!--<compilation debug="true" targetFramework="4.0">-->
    <compilation debug="true" targetFramework="4.5">
      <!--<assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>-->
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="Off">
      <error statusCode="403" redirect="http://dev.t5livegames.com" />
      <error statusCode="404" redirect="http://dev.t5livegames.com" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    <!-- this line tells IIS to use compression - from madskristensen.net/post/Performance-tuning-tricks-for-ASPNET-and-IIS-7-part-1.aspx -->
    <!-- removed on dev so i can code and debug!!!!!> -->
    <staticContent>
      <!--<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00.03:00:00"/>-->
      <!--3 hour cache for static content - this means we can make changes between matches-->
    </staticContent>
    <!-- the below shows how to do this for a particular folder - from  stackoverflow.com/questions/2195266/how-to-configure-static-content-cache-per-folder-and-extension-in-iis7
    
      <location path="images">
        <system.webServer>
          <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:15" />
          </staticContent>
        </system.webServer>
      </location>
    -->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        -->
      <!-- need this for SignalR!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
      <!--
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.5.0" newVersion="5.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BookSleeve" publicKeyToken="9056fda458ff61cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.5" newVersion="1.2.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<elmah>
    <security allowRemoteAccess="1" />
  </elmah>-->
  <!--! - With the cache control we are using below we are basically caching anything that goes into these folders - forever!!!! 
        - so how it works is that - if we ever update an image or js or css file we need to rename it!!!!!!
  -->
  <location path="images">
    <system.web>
        <pages enableSessionState="false" />
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseExpires" httpExpires="Wed, 31 Dec 2014 03:14:07 GMT" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="livescripts">
     <system.web>
        <pages enableSessionState="false" />
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseExpires" httpExpires="Wed, 31 Dec 2014 03:14:07 GMT" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="livestyles">
     <system.web>
        <pages enableSessionState="false" />
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache  cacheControlMode="UseExpires" httpExpires="Wed, 31 Dec 2014 03:14:07 GMT" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>